<html>
    <head>
        <style>
            h2 {
                width: 30%;
                margin: 2em auto;
            }
            table {
                width: 30%;
                margin: 5em auto;
                border-spacing: 1em;
            }

        </style>
    </head>
    <body>
        <h2>Query Jobs done for Project</h2>
        <form action="/project" method="POST">
            <table>
                <tr>
                    <td><label>Enter Project ID:</label></td>
                    <td>
                        <input name="project_id" type="text" />
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="2"><input type="submit" /></td>
                </tr>
            </table>

        </form>
    </body>
</html>